<%- include("../shared/header"); %>

    <div class="container">
        <div class="heading-title">
            <h1>KYC</h1>
        </div>

        <form action="./rekyc-open/update" method="POST">
            <div class="row g-3 ">
                <div class="env-title">
                    <h1>Please fill the AWSM details for KYC</h1>
                </div>


                <div class="col-md-4">
                    <label for="AW" class="form-label">BeneficiaryName<span>*</span></label>
                    <input type="text" class="form-control" name="beneficiary_name" id="BName" required
                        value="<%= kycData.beneficiary_name%>" />
                </div>
                <div class="col-md-4">
                    <label for="AWSM" class="form-label">Address<span>*</span></label>
                    <input type="text" class="form-control" name="address" required value="<%=kycData.address %>">
                </div>
                <div class="col-md-4">
                    <label for="AWSM" class="form-label">Gender<span>*</span></label>
                    <select class="form-select" name="gender" required>
                        <option disabled value="">--select --</option>
                        <option value="Male" <%=kycData.gender==='Male' ? 'selected' : '' %>>Male</option>
                        <option value="Female" <%=kycData.gender==='Female' ? 'selected' : '' %>>Female</option>
                        <option value="Other" <%=kycData.gender==='Other' ? 'selected' : '' %>>Other</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="AWSM" class="form-label">Date-of-birth<span>*</span></label>
                    <input type="date" class="form-control" name="dob" id="date" autocomplete="off" required 
                    value="<%= kycData.dob.toISOString().slice(0, 10) %>"/>
                </div>
                <div class="col-md-4">
                    <label for="AWSM" class="form-label">Mobile No.<span>*</span></label>
                    <input type="tel" class="form-control  numberonly" name="mobile_no" pattern="[0-9]{10}"
                        maxlength="10" required value="<%=kycData.mobile_no %>" />
                </div>
                <div class="col-md-4">
                    <label for="AWSM" class="form-label">Photo<span>*</span></label>
                    <input type="file" class="form-control" name="photo" multiple />
                    <small><i class="fa fa-info-circle" aria-hidden="true"></i> Take picture by using Camera</small>
                </div>
                <div class="col-md-4">
                    <label for="AWSM" class="form-label">Bank Name<span>*</span></label>
                    <input type="text" class="form-control" id="bank_name" name="bank_name" required
                        value="<%=kycData.bank_name %>" />
                </div>
                <div class="col-md-4">
                    <label for="AWSM" class="form-label">Bank A/C No.<span>*</span></label>
                    <input type="text" class="form-control numberonly" name="bank_account_no" maxlength="16" required
                        value="<%=kycData.bank_account_no %>" />
                </div>
                <div class="col-md-4">
                    <label for="AWSM" class="form-label">IFSC Code<span>*</span></label>
                    <input type="text" class="form-control" name="ifsc_code" maxlength="11" required
                        value="<%=kycData.ifsc_code %>" />
                </div>
                <div class="col-md-4">
                    <label for="AWSM" class="form-label">Bank Cheque Image<span>*</span></label>
                    <input type="file" class="form-control" name="bank_cheque" multiple />
                    <small><i class="fa fa-info-circle" aria-hidden="true"></i> Upload cancelled cheque copy</small>
                </div>
                <div class="col-md-4">
                    <label for="AWSM" class="form-label">Photo ID<span>*</span></label>
                    <input type="file" class="form-control" name="photo_id" multiple />
                    <small><i class="fa fa-info-circle" aria-hidden="true"></i> Take picture by using Camera</small>
                </div>
                <div class="col-md-4">
                    <label for="AWSM" class="form-label">Biometric Image<span>*</span></label>
                    <a href="" data-bs-toggle="modal" data-bs-target="#BM" class="btn btn-success w-100">Click</a>
                    <small><i class="fa fa-info-circle" aria-hidden="true"></i> Click to KYC AWSM(Capture all 10
                        fingers)</small>
                </div>
                <div class="col-md-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked id="flexCheckChecked" required>
                        <label class="form-check-label" for="flexCheckChecked">
                            By proceesing you agree to our <a href="" data-bs-toggle="modal" data-bs-target="#TC">Terms
                                & Conditions.</a>
                        </label>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <input class="btn btn-primary" type="submit" value="Submit" />
                </div>
            </div>
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="TC" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Terms & Conditions</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. </p>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout.</p>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="BM" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <center>
                        <span><img class="" style="width: 160px;"
                                src="https://img.freepik.com/premium-vector/biometric-scanning-flat-icon-design_203633-10773.jpg?w=740">
                        </span>
                        <p class="h4">Please connect biometric device</p>
                    </center>
                </div>

            </div>
        </div>
    </div>

    <%- include("../shared/footer"); %>